In [222]:
import pandas as pd

In [223]:
import pathlib
from pathlib import Path

In [224]:
work_path = pathlib.Path.cwd()
data_path = Path(work_path, 'data', 'kc_house_data.csv')

In [225]:
df = pd.read_csv(data_path)

In [226]:
df.head(30)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0,...,7,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026

#### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0

In [227]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987

In [228]:
def no_renovation(x):
    if x < 0:
        x = 0
    return x

df['delta_renovated'] = df['delta_renovated'].apply(no_renovation)
df.sample(15)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
6615,421000430,20150331T000000,225000.0,3,1.00,960,5512,1.0,0,0,...,960,0,1963,0,98056,47.4944,-122.165,1090,5837,0
14746,6052400175,20140623T000000,446000.0,2,1.00,2550,21675,1.0,0,1,...,1610,940,1958,0,98198,47.4013,-122.319,2030,10591,0
5825,7749500250,20140827T000000,265000.0,5,2.25,2600,8075,1.5,0,0,...,2600,0,1969,0,98092,47.2961,-122.188,2200,8800,0
14949,2314300170,20141104T000000,405000.0,4,2.50,2090,6667,2.0,0,0,...,2090,0,1997,0,98058,47.4648,-122.150,2250,6165,0
14168,7349600230,20140729T000000,275000.0,3,2.25,1640,6044,2.0,0,0,...,1640,0,1996,0,98002,47.2844,-122.205,1600,7418,0
14443,7452500815,20150310T000000,212625.0,2,1.00,960,5000,1.0,0,0,...,960,0,1951,0,98126,47.5188,-122.372,930,5000,0
20614,6149700197,20141106T000000,308625.0,2,2.00,1500,1408,3.0,0,0,...,1500,0,1999,0,98133,47.7293,-122.343,1500,1245,0
9964,1771100030,20150106T000000,335000.0,3,1.00,1120,9075,1.0,0,0,...,1120,0,1977,0,98077,47.7551,-122.072,1120,9705,0
15788,8653600050,20150225T000000,572000.0,3,1.75,1850,22767,1.5,0,4,...,1850,0,1908,0,98074,47.6144,-122.067,2700,17906,0
3755,5515600088,20141121T000000,194820.0,3,1.50,1100,32700,1.0,0,0,...,1100,0,1967,0,98001,47.3186,-122.289,1616,32700,0
11224,3468800310,20150113T000000,425000.0,2,1.00,750,4000,1.0,0,0,...,750,0,1933,0,98108,47.5400,-122.320,1160,4000,0
8670,766800090,20140525T000000,195000.0,3,1.75,1570,8459,1.0,0,0,...,1570,0,1991,0,98022,47.2016,-122.006,1650,8844,0
10966,7199360320,20150213T000000,411500.0,3,1.00,1110,7208,1.0,0,0,...,1110,0,1980,0,98052,47.6979,-122.124,1440,7210,0
8768,3363900155,20141209T000000,470000.0,2,1.00,1220,4000,1.5,0,0,...,1220,0,1908,0,98103,47.6801,-122.354,1580,4000,0
9373,8100900115,20150206T000000,259000.0,3,1.75,1270,4815,1.5,0,0,...,980,290,1922,0,98108,47.5495,-122.310,1270,6431,0

#### 1.3 Создайте признаки года продажи, месяца продажи

In [229]:
df['yr_sold'] = df['date'].apply(lambda string: string[0:4])
df['mnth_sold'] = df['date'].apply(lambda string: string[4:6])
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sold,mnth_sold
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,02
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,02
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,2001,0,98053,47.6561,-122.005,4760,101930,0,2014,05
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,1995,0,98003,47.3097,-122.327,2238,6819,0,2014,06
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,1963,0,98198,47.4095,-122.315,1650,9711,0,2015,01
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,1960,0,98146,47.5123,-122.337,1780,8113,0,2015,04
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,2003,0,98038,47.3684,-122.031,2390,7570,0,2015,03
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,1965,0,98007,47.6007,-122.145,2210,8925,0,2015,04
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,1942,0,98115,47.6900,-122.292,1330,6000,0,2014,05
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,1927,0,98028,47.7558,-122.229,1780,12697,0,2014,05
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,1977,0,98074,47.6127,-122.045,1370,10208,0,2014,10
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,1900,0,98107,47.6700,-122.394,1360,4850,0,2015,03
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,1979,0,98126,47.5714,-122.375,2140,4000,0,2015,01
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,1994,0,98019,47.7277,-121.962,1890,14018,0,2014,07
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,1916,0,98103,47.6648,-122.343,1610,4300,0,2014,05
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,1921,0,98002,47.3089,-122.210,1060,5095,0,2014,12
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,1969,0,98003,47.3343,-122.306,1280,8850,0,2015,04

#### 1.4 Удалите признаки date, zipcode, lat, long

In [230]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,mnth_sold
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,02
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,02

Задача 2
Создайте датафрейм с клиентами:

In [231]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

#### 2.1 Присоедините к таблице clients данные по домам через метод join

In [232]:
clients_id = clients.set_index('house_id')
clients_id.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

In [233]:
df_id = df.set_index('id')
df_id.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,mnth_sold
id,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,02
2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,02

In [234]:
clients_id.join(df_id).head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,mnth_sold
house_id,,,,,,,,,,,,,,,,,,,,
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,09
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,09
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,06
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10

#### 2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [235]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged.head()

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,mnth_sold
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,2014,06

Задача 3
Составьте несколько сводных таблиц
#### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален Отсортируйте от меньшей стоимости к большей

In [236]:
by_bedrooms = df.groupby('bedrooms')
by_bedrooms.agg({'price': 'mean'}).round(2).sort_values(by='price', ascending=True)

               price
bedrooms
1          317642.88
2          401372.68
0          409503.85
3          466232.08
11         520000.00
4          635419.50
33         640000.00
5          786599.83
10         819333.33
6          825520.64
9          893999.83
7          951184.66
8         1105076.92

#### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [237]:
df.pivot_table(
    index='condition',
    values='price',
    aggfunc=['min', 'mean', 'max']
).round(2)

                min       mean        max
              price      price      price
condition
1           78000.0  334431.67  1500000.0
2           80000.0  327287.15  2555000.0
3           75000.0  542012.58  7062500.0
4           89000.0  521200.39  7700000.0
5          110000.0  612418.09  3650000.0

#### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [238]:
pd.crosstab(index=df['waterfront'], columns=df['view'])

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

#### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [239]:
pd.crosstab(index=df['floors'], columns=df['bedrooms'])
# одноэтажных с тремя спальнями

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

#### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [240]:
df.pivot_table(
    index='condition',
    columns='grade',
    values='price',
    aggfunc='median'
).round(2)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,NaN,150000.0,190000.0,255000.0,403500.0,932500.0,NaN,NaN,NaN,NaN,NaN
2,NaN,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,NaN,NaN,NaN
3,NaN,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,NaN,NaN,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,NaN,262000.0,NaN,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,NaN